name: Gerar imagens diárias

on:
  schedule:
    - cron: "0 6 * * *" # 06:00 UTC (03:00 Brasil)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  gerar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Atualizar pip
        run: python -m pip install --upgrade pip

      - name: Instalar dependências
        run: |
          echo "Python usado:"
          which python
          python --version
          
          echo "Instalando libs..."
          python -m ensurepip --upgrade
          python -m pip install --upgrade pip
          python -m pip install requests pillow
          
          echo "Libs instaladas:"
          python -m pip list

      - name: Gerar imagens
        run: python gerar_imagens.py

      - name: Commit automático
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add imagens index.json
          git commit -m "Atualização diária de imagens" || echo "Nada para commitar"
          git push
