name: Gerar imagens diárias

on:
  schedule:
    - cron: "0 6 * * *" # todo dia às 06:00 UTC
  workflow_dispatch:

jobs:
  gerar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependências
        run: |
         pip install pillow requests

      - name: Gerar imagens
        run: |
          python gerar_imagens.py

      - name: Commit automático
        run: |
         git config --global user.name "github-actions"
         git config --global user.email "actions@github.com"

         git restore --staged .github/workflows/gerar-imagens.yml || true
         git checkout -- .github/workflows/gerar-imagens.yml || true

         git add imagens index.json
         git commit -m "Atualização diária de imagens" || echo "Nada para commitar"
         git push

